<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://code.highcharts.com/10/highcharts.js"></script>
    <link rel="stylesheet" href="static/dashboard.css"/>
    <script src="static/dashboard.js"></script>
</head>
<body>
<h1>Dashboard</h1>
<p>Hello, {{ current_user.id }}!</p>
<figure class="highcharts-figure">
    <div id="loading">
        We Are Loading Your Data...
      </div>
    <div id="container"></div>
</figure>


<a href="{{ url_for('auth.logout') }}">Logout</a>

</body>
</html>
